/*--------------------------------------------------------------------------------------------------body*/
body {
  font-family: "Roboto", "sans-serif";
  background-color: white;
  color: #007bff;
 
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

label{
    font-weight: 400;
    color: white;
}
.contact-us-h2{
    color: white;
}

/*---------------------------------------------------------------------------------------------Hero Image-*/
#hero-image{
    background-image: url("../img/hero-paris.jpg");
    height: 800px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-image-contact{
    background-image: url("../img/hero-paris.jpg");
    height: 800px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*--------------------------------------------------------------------------------------------background overlay container*/
div.container.main-container{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 100px;
    
}
div.container.contact-container{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 80px;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-left: 25px;
}
/*-----------------------------------------------------------------------------------------------------------Parralax midpoint*/
#parallax-midpoint{
    background-image:url("../img/copenhagen.jpg");
    height: 500px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 } 
 #parallax-midpoint h2{
     text-align: center;
     font-weight: 300;
     color: white;
 }
.app-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}
.cityTemplate {
  max-width: 650px;
  padding: 20px;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
img.tile-img{
    width: 350px;
    border: #007bff solid 3px;
    height: auto;
    margin-left: 30px;
    border-radius: 10px;
}
img.tile-img:hover{
    opacity: 0.8;
}
.attractions {
  margin: 0;
  padding: 0;
  position: relative;
  left: 17px;
  font-size: 0.85rem;
  line-height: 1.5;
}
/*----------------------------------------------------------------------------------------------------Footer*/
footer{
    width: 100%;
    height: 150px;
    position: bottom;
    bottom: 0;
    margin-top: 50px;
}
.footer-copyright{
    background-color: rgba(0, 123, 255, 0.4);
    padding: 0;
    color: whitesmoke;
}
.social{
    font-size: 25px;
    margin-right: 5px;
}
div.row{
    max-width: 100%;
}
a.nav-link{
    align-content: center;
    text-align: center;
}
hr{
    margin-left: 10%;
}
.footer-hr{
    width: 90%;
    margin-top: 30px;
    border: solid #007FFA 1px;
    margin-left: 5%;
    margin-bottom: 30px;
}
/*----------------------------------------------------------------------------------------------Tile Grid*/
li img{
 border: solid orange 2px;
 width: 25%;
 height: 100%;
}
ul, li{
    text-decoration-style: none;
    list-style-type: none;
}
/*--------------------------------------------------------------------------------------------contact form*/
.contact-form{
    margin-top: 30px;
    margin-bottom: 150px;
}
.contact-us-h2{
    text-align: center;
    margin-top: 30px;
}
/*-----------------------------------------------------------------------------------------------MAP*/
div#map {
    min-height: 360px;
    width: 80%;
    margin-left: 10%;
    }

element.style{
    background-color: #007bff;
}

.city-centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---------------------------------------------------------------------------------------------------Fonts & Letter styling----*/

h5.tile-country{
    text-align: -webkit-center;
    margin-top: 15px;
    margin-left: 1px;
}

h3.tile-city{
    text-align: -webkit-center;
    margin-left: 10;
    color: whitesmoke;
}

h3.tile-city:hover{
    border-top: #007bff dotted 5px;
    border-bottom: #007bff dotted 5px;
}

h3.tile-heading{
    text-align: -webkit-center;
}


/*---------------------------------------------------------------------------------------------------Media Queries Contact Page*/

@media only screen and (min-width: 600px) {
  div.container.contact-container {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  div.container.contact-container {
    max-height: 600px;
  }
}
@media only screen and (min-width: 992px) {
  div.container.contact-container {
    max-height: 550px;
  }
}
@media only screen and (min-width: 768px) {
  div.container.contact-container {
    max-height: 550px;
  }
}
@media only screen and (min-width: 576px) {
  div.container.contact-container {
    max-height: 770px;
  }
}
/*---------------------------------------------------------------------------------------------------Media Queries Index.html*/


@media only screen and (min-width: 1200px) {
  div.container.main-container {
    max-height: 600px;
  }
}
@media only screen and (min-width: 992px) {
  div.container.main-container {
    max-height: 550px;
  }
}
@media only screen and (min-width: 768px) {
  div.container.main-container {
    max-height: 550px;
  }
  #hero-image{
      height: 650px;
  }
}

@media only screen and (max-width: 576px) {
  div.container.main-container {
    max-height: 770px;
    margin: 0 auto;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  img.tile-img{
      margin-left: 10px;
  }

  h3, h5{
      margin-left: 10px;
  }
  #hero-image{
      height: 550px;
  }
}
@media only screen and (min-width: 577px) {

  #hero-image{
      height: 650px;
  }
}

/*--------------------------------------------------------------------------------------------------Infinite load styling*/
.fade {
  opacity: 1;
}
